@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

body{
  background-color: #FFFFFF;
  color: #222222;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
#root{
  background-color: #CBF3F0;
}
